
body {
    font-family: 'Titillium Web', sans-serif;
}
main {
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    
}

#calculator {
    margin-left:182px;
    display: flex;
    flex-flow: column nowrap;
}

#input1 {
    width:65px;
    height:50px;
    font-size:2em;
    text-align:center;
    border: 1px dashed;
    padding-left:5px;
   
    }
    
    #input2 {
        width:65px;
        height:50px;
        font-size:2em;
        text-align:center;
        border: 1px dashed;
        padding-left:5px;
        position: relative;
        top:-140px;
        left:8px;

    }
    
    
    #square{
        height:20px;
        width:20px;
        font-size:.85em;
        border: 1px dashed;
        background-color: white;
        margin-left:5px;
        display: flex;
        flex-direction: column;
    }
    
    #cube{
        height:20px;
        width:20px;
        font-size:.85em;
        border: 1px dashed;
        background-color: white;
        margin-left:5px;
        margin-top:5px;
        display: flex;
        flex-direction: column;
    }
    
    #solution {
        padding:30px;
        font-size:2em;
    }

    #addButton, #subtractButton, #multiplyButton, #divideButton, #pi 
    {
        height:40px;
        width:40px;
        border: 1px dashed;
        background-color: white;
        font-size:1.5em;
    }



.break {
    flex-basis: 100%;
    height: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }
  @-webkit-keyframes hvr-hang {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @keyframes hvr-hang {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @-webkit-keyframes hvr-hang-sink {
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @keyframes hvr-hang-sink {
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }